@page "/order/{orderId}"
@using MyCompany.Store.SPA.Models;
@using MyCompany.Store.SPA.Services.Contracts;


@inject IOrderService orderService;
@inject DialogService dialogService


@if (!string.IsNullOrEmpty(errorMessage))
{
    <DisplayError ErrorMessage="@errorMessage" />
}
else
{
    <div class="row">
        <div>
            <div>
                <span>Klient: <b>@order?.ClientName</b></span>
            </div>
            <div>
                <span>Data utworzenia: <b>@order?.CreatedDate</b></span>
            </div>
            <div>
                <span>Dodatkowe informacje: <b>@order?.AdditionalInfo</b></span>
            </div>
            <div>
                <span>Całkowita cena: <b>@order?.TotalPrice</b></span>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <RadzenDataGrid Data="@order?.OrderLines" TItem="OrderLinesDetailsModel" ColumnWidth="200px" Class="mt-3">
                <Columns>
                    <RadzenDataGridColumn TItem="OrderLinesDetailsModel" Property="ProductName" Title="Produkt" />
                    <RadzenDataGridColumn TItem="OrderLinesDetailsModel" Property="Price" Title="Cena" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>

}




@code {
    [Parameter]
    public long OrderId { get; set; }


    string errorMessage;
    OrderDetailsModel order;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (OrderId == 0)
            errorMessage = "Błędny parametru numeru zamówienia";

        try
        {
            order = await orderService.GetAsync(OrderId);
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
}